<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 定时任务的bean -->
    <bean id="simpleJob" class="com.flt.dts.SimpleJob" />

    <!-- 1) 调度的配置&job的配置 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail"><ref bean="jobDetail" /></property>
        <property name="cronExpression" value="*/5 * * * * ?" > </property>
    </bean>
    <bean id="jobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject"> <ref bean="simpleJob" /> </property>
        <property name="targetMethod" value="run"> </property>
    </bean>

    <!-- 3) 开启定时任务-->
    <bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>

</beans>